@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #c5aded;
}

* {
  box-sizing: border-box;
}

:focus-visible {
  outline: 2px solid #ffec4e;
  outline-offset: 2px;
}
